<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <span>
    Welcome to {{ title }}!
  </span>

  <span class="toolbar-spacer"></span>
  <button mat-menu-item style="color: aliceblue;" [routerLink]="['/vehicle-list']">Lista</button>
  <button mat-menu-item style="color: aliceblue;" href="/login" *ngIf="!tokenStorage.isLoggedIn()" [routerLink]="['/login']">login</button>

  <button mat-menu-item color="accent" *ngIf="tokenStorage.isLoggedIn()"
          (click)="loginService.logOut()" [routerLink]="['/login']">Logout
  </button>
</mat-toolbar>
<!--<app-sidenav></app-sidenav>-->

<router-outlet></router-outlet>
