<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <span>
    Welcome to {{ title }}!
  </span>

  <span class="toolbar-spacer"></span>
  <button mat-menu-item color="accent" *ngIf="loginService.isLoggedIn"
          (click)="loginService.logOut()" [routerLink]="['/home']">Logout
  </button>
  <a mat-menu-item style="color: aliceblue;" href="/vehicle-list">Lista</a>
  <a mat-menu-item style="color: aliceblue;" href="/login">login</a>

</mat-toolbar>
<!--<app-sidenav></app-sidenav>-->

<router-outlet></router-outlet>
